body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

body, h1, h2, h3, h4, p, div, ul, li {
  margin: 0;
  padding: 0;
  color: #0E0E0E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  color: black;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}
